.modal.fade{id: "#{user.name}#{user.id}", "aria-hidden" => "true", "aria-labelledby" => "exampleModalCenterTitle", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-dialog-centered{:role => "document"}
        .modal-content
            .modal-header.commentnew
                Perfil                                                                                
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"}
                    %i.fas.fa-times
            .modal-body
                %div#exampleModalLongTitle.text-center.modal-title.namexp
                    = user.name
                %div#exampleModalLongTitle.text-center.modal-title.namexp
                    = image_tag user.avatar.url(:medium), class: "rounded-circle round-image-50" 
                %hr.lower
                %div#exampleModalLongTitle.text-center
                    = user.title
                %hr.lower
                %div#exampleModalLongTitle.text-center
                    = user.email
                %hr.lower
                %div#exampleModalLongTitle.text-center
                    = user.mobile   






                