.col-9
    %h2
        = link_to "posts" do
            = icon 'fas', 'angle-left'
        = @group.name
    - @users.each do |user|
        = render user
        .div.col-3.framestyle.marginframe
            #navbarDropdown.nav-link.card.borderg{"data-target" => "##{user.name}#{user.id}", "data-toggle" => "modal", :type => "button"}
                %div.name.titlepost.mt-1
                    = user.name
                = image_tag user.avatar.url(:medium), class: "rounded-circle round-image-small imagemargin", style: "margin-left: 35%;" 
                %div.title
                    = user.title
                %div.email 
                    = user.email

                


